@{
    ViewData["Title"] = "Ad Booking";
}

<div class="container mt-5 mb-5">
    <div class="text-center mb-4">
        <h2 class="fw-bold text-primary">Book Your Newspaper Ad</h2>
        <p class="text-muted">Select a category below to start booking your advertisement</p>
    </div>

    <div class="row g-4">
        <!-- Matrimonial -->
        <div class="col-md-3 col-sm-6">
            <div class="card shadow-lg border-0 h-100 text-center p-3">
                <img src="https://cdn-icons-png.flaticon.com/512/1869/1869692.png" class="card-img-top img-fluid mx-auto" style="width:80px;" alt="Matrimonial">
                <div class="card-body">
                    <h5 class="card-title">Matrimonial</h5>
                    <a href="#" class="btn btn-primary btn-sm mt-2">Click Here</a>
                </div>
            </div>
        </div>

        <!-- Property -->
        <div class="col-md-3 col-sm-6">
            <div class="card shadow-lg border-0 h-100 text-center p-3">
                <img src="https://cdn-icons-png.flaticon.com/512/616/616408.png" class="card-img-top img-fluid mx-auto" style="width:80px;" alt="Property">
                <div class="card-body">
                    <h5 class="card-title">Property</h5>
                    <a href="#" class="btn btn-primary btn-sm mt-2">Click Here</a>
                </div>
            </div>
        </div>

        <!-- Recruitment -->
        <div class="col-md-3 col-sm-6">
            <div class="card shadow-lg border-0 h-100 text-center p-3">
                <img src="https://cdn-icons-png.flaticon.com/512/3135/3135673.png" class="card-img-top img-fluid mx-auto" style="width:80px;" alt="Recruitment">
                <div class="card-body">
                    <h5 class="card-title">Recruitment</h5>
                    <a href="#" class="btn btn-primary btn-sm mt-2">Click Here</a>
                </div>
            </div>
        </div>

        <!-- Business -->
        <div class="col-md-3 col-sm-6">
            <div class="card shadow-lg border-0 h-100 text-center p-3">
                <img src="https://cdn-icons-png.flaticon.com/512/2965/2965879.png" class="card-img-top img-fluid mx-auto" style="width:80px;" alt="Business">
                <div class="card-body">
                    <h5 class="card-title">Business</h5>
                    <a href="#" class="btn btn-primary btn-sm mt-2">Click Here</a>
                </div>
            </div>
        </div>

        <!-- Vehicles -->
        <div class="col-md-3 col-sm-6">
            <div class="card shadow-lg border-0 h-100 text-center p-3">
                <img src="https://cdn-icons-png.flaticon.com/512/3202/3202926.png" class="card-img-top img-fluid mx-auto" style="width:80px;" alt="Vehicles">
                <div class="card-body">
                    <h5 class="card-title">Vehicles</h5>
                    <a href="#" class="btn btn-primary btn-sm mt-2">Click Here</a>
                </div>
            </div>
        </div>

        <!-- Services -->
        <div class="col-md-3 col-sm-6">
            <div class="card shadow-lg border-0 h-100 text-center p-3">
                <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" class="card-img-top img-fluid mx-auto" style="width:80px;" alt="Services">
                <div class="card-body">
                    <h5 class="card-title">Services</h5>
                    <a href="#" class="btn btn-primary btn-sm mt-2">Click Here</a>
                </div>
            </div>
        </div>

        <!-- Education -->
        <div class="col-md-3 col-sm-6">
            <div class="card shadow-lg border-0 h-100 text-center p-3">
                <img src="https://cdn-icons-png.flaticon.com/512/3135/3135690.png" class="card-img-top img-fluid mx-auto" style="width:80px;" alt="Education">
                <div class="card-body">
                    <h5 class="card-title">Education</h5>
                    <a href="#" class="btn btn-primary btn-sm mt-2">Click Here</a>
                </div>
            </div>
        </div>

        <!-- Astrology -->
        <div class="col-md-3 col-sm-6">
            <div class="card shadow-lg border-0 h-100 text-center p-3">
                <img src="https://cdn-icons-png.flaticon.com/512/888/888879.png" class="card-img-top img-fluid mx-auto" style="width:80px;" alt="Astrology">
                <div class="card-body">
                    <h5 class="card-title">Astrology</h5>
                    <a href="#" class="btn btn-primary btn-sm mt-2">Click Here</a>
                </div>
            </div>
        </div>
    </div>
</div>
